<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <title>BotBots</title>
</head>

<body>


    <div>
        <ul>
            <li><a href="/">MODE</a></li>
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/model">MODEL</a></li>
        </ul>
    </div>

    <div class="container" style="margin-top: 60px;">
        <h3 class="text-center">Default Default</h3>

        <p class="text-center">this is Home pages (mode select)</p>
        
        <div class="row text-center" >
            
            <div class="col">
                Student
            </div>
            <div class="col">
                Visitors
            </div>
            <div class="col">
                CPE Administrators
            </div>
            <div class="col">
                Lecturers
            </div>
            <div class="col">
                Parants
            </div>
        </div>

        <ho>aa</ho>
        <ho>aaaa</ho>
    </div>



    <script> src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"</script>
    <script src="./js/script.js"></script>
</body>

</html>