<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <title>BotBots</title>
</head>
<body>
    
    
    <div> 
        <ul>
            <li><a href="/">MODE</a></li>
            <li><a href="/home">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/model">MODEL</a></li>
        </ul>
    </div>

    <div class = "container" style="margin-top: 60px;">
        <h3 class = "text-center">BotBots</h3>

        <div class="media" style="height: 100px; background-color: whitesmoke;">
            <img src="./img/draftBotBots.png" style="float: left; margin: 10px;" class="rounded-circle float-left img-thumbnail" width="75px" alt="..." />

            <div class="media-body" style="float: left;">
                <h5 style="margin: 10px; margin-top: 15px;" >BotBots Chiny</h5>
                <span style="margin-left: 10px; color: green;" >Online</span>
            </div>
        </div>

        <div id="chatContainer" class="container border overflow-auto" style="height: 400px;" >

        </div>

        <div class="input-group">
            <input id="textBox" type="text" class="form-control" />

            <div class="input-group-append">
                <button id="sendBtn" type="button" class="btn btn-primary">SEND</button>
            </div>
        </div>

    </div>



    <script> src= "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"</script>
    <script src="./js/script.js"></script>
</body>
</html>